.agent-button {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }

  &.is-active {
    background-color: #303030;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #303030;
    }
  }
}
