/* components/WriterInput.scss */
.writer-input-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem; /* Adjust as needed */

  .writer-input {
    padding: 0.2rem 0.4rem;
    border: 1px solid #444;
    border-radius: 0.25rem;
    background-color: #333;
    color: #fff;
    font-size: 0.8rem;
    outline: none;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: blueviolet;
    }

    &::placeholder {
      color: #ccc;
    }

    &.error {
      border-color: red;
      background-color: rgba(255, 0, 0, 0.1);
    }
  }

  .writer-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: #ffffffcf;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.3rem;
    padding: 0.2rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;

    .icon {
      width: 1rem;
      height: 1rem;
      fill: blueviolet;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.error {
      border: 1px solid red;
      background-color: rgba(255, 0, 0, 0.1);

      .icon {
        fill: red;
      }

      &:active {
        background-color: rgba(255, 0, 0, 0.2);
      }
    }
  }

  /* Styles for the close button */
  .writer-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: #ffffffcf;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.3rem;
    padding: 0.2rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;

    .icon {
      width: 1rem;
      height: 1rem;
      fill: #fff;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .spinner {
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  .writer-error-message {
    color: red;
    font-size: 0.85rem;
    text-align: center;
    padding: 0.2rem;
    margin-top: 0.3rem;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
