body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.tiptap {
  > * {
    margin: 0.3em 0;
  }

  ul,
  ol {
    padding: 0.5rem 1.5rem;
  }

  li p {
    margin: 0.2rem;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .empty-node::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

.editor-container {
  display: flex;
  justify-content: center;

  .editor {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally */
    max-width: 800px; /* Set a max width for the editor */
    width: 100%; /* Ensure the editor doesn't exceed its parent container */

    &__content {
      flex: 1 1 auto;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      width: 100%; /* Take full width of the editor */
      max-width: 800px; /* Ensure content doesn't exceed max width */
      box-sizing: border-box;
      margin: 6rem 0;
    }
  }
}

.ProseMirror {
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem;

  > * {
    padding: 0.5rem;
    border-left: 0.3rem solid #fff;
  }

  &:focus {
    outline: none;
  }

  > p:hover,
  > h1:hover,
  > h2:hover,
  > h3:hover,
  > ul:hover,
  > ol:hover {
    background-color: rgba(204, 204, 204, 0.2);
    border-left: 0.3rem solid #cccccc;
  }
}

.editor__content:focus {
  outline: none;
}

/* CSS for has-focus class */
.has-focus {
  background-color: rgba(204, 204, 204, 0.2);
  border-left: 0.3rem solid #cccccc;
  pointer-events: auto; /* Ensure pointer events work */
  z-index: 1; /* Set z-index if necessary */
}
